:root {
  --cl-base-bg: #ffffff;
  --cl-box-bg: #ffffff;
  --cl-text: #151413;
  --cl-border: #e5e4e3;
  --cl-accent: #ff9aab;
  --cl-focus: green;
  --border-radius: 10px;
}

html[theme="light"] {
  --cl-base-bg: #ffffff;
  --cl-box-bg: #ffffff;
  --cl-text: #151413;
  --cl-border: #e5e4e3;
  --cl-accent: #ff9aab;
  --cl-focus: #424242;
}

html[theme="dark"] {
  --cl-base-bg: #151413;
  --cl-box-bg: #1b1a1a;
  --cl-text: #ffffff;
  --cl-border: #2f2e2e;
  --cl-accent: #ff9aab;
  --cl-focus: #9c9c9c;
}
